<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Weathcast {{title}}</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="icon" href="favicon.svg" sizes="any" type="image/svg+xml">
</head>
<body>

<div class="main-content">
    {{>header}}
    {{> content}}
</div>

{{>footer}}

<script src="main.js"></script>
</body>
</html>
