{{#> layout}}
    {{#*inline "content"}}
        Weather forecast.
        <ul>
            <li>Hands on practise with <a
                    target="_blank"
                    href="https://github.com/rdok/weathcast">
                Node.JS, Express, hbs.</a></li>
            <li>CI/CD through <a
                    target="_blank"
                    href="https://github.com/rdok/weathcast/actions">
                GitHub actions & Heroku.</a></li>
            <li>Specs from <a
                    target="_blank"
                    href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2/">
                The Complete Node.js Developer Course </a>.</li>
        </ul>

        <img src="tree-lake-cut.png" alt="tree-lake-cut"/>
    {{/inline}}
{{/layout}}
