body {
  color: #333;
  font-family: arial, serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  margin-top: 16px;
  padding: 16px 0;
}
